$promotionFormLabelWidth: 80px;
$promotionFormBorderCorder: #d9d9d9;
.ant-table-pagination {
    margin-right: 15px;
}

.change-form {
    padding-left: 30px;
    .ant-form-item {
        margin-bottom: 15px
    }
    .ant-form-explain {
        padding-left: 73px;
    }
    &-label {
        min-width: 61px;
        text-align: right;
    }
    &-tip {
        margin-left: 10px;
    }
}

.promotion-form {
    padding-top: 60px;
    margin: 0 auto 24px;
    width: 1012px;
    form .default {
        width: 78px;
    }
    .category .ant-cascader-picker {
        width: 260px;
    }
    .wd-297 {
        width: 297px;
        float: left;
    }
    .wd-317 {
        width: 317px;
        float: left;
    }
    .wd-396 {
        width: 396px;
        float: left;
    }
    .tr {
        text-align: right;
    }
    .pr-60 {
        padding-right: 60px;
    }
    ul.list-panel {
        // margin: 12px 0;
        // border-bottom: 1px solid $promotionFormBorderCorder;
        li {
            line-height: 48px;
            &:first-child {
                h2 {
                    padding: 0 20px;
                    font-size: 12px;
                    font-weight: bold;
                    display: inline-block;
                }
                line-height: 34px;
            }
        }
    }
    .whole-field .ant-form-item-control-wrapper {
        width: 288px;
    }
    .product .ywc-smind {
        top: 4px;
        width: 194px;
    }
    .ant-form-item-control textarea {
        margin: 4px 0;
    }
    .center {
        text-align: center;
    }
    .store {
        margin-left: $promotionFormLabelWidth;
    }
    .store-ids {
        margin-bottom: 0 !important;
    }
    .ant-form-item-label label {
        width: $promotionFormLabelWidth;
        display: inline-block;
    }
    .ant-form-item.wd-83 {
        .ant-form-item-label,
        .ant-form-item-label label {
            width: 83px;
        }
    }
    &.few-line {
        .ant-form-item-label {
            line-height: 48px;
            label {
                top: -10px;
            }
        }
    }
    &.multi-line {
        .ant-form-item-label {
            line-height: 98px;
            label {
                top: -30px;
            }
        }
    }
    .promotion-date-range .ant-calendar-picker {
        width: 288px !important;
    }
    span.sub-companies {
        a {
            margin-left: 2px;
        }
        margin-left: 10px;
    }
    #companies {
        width: 228px;
        text-overflow: ellipsis;
    }
    .wd-50 {
        width: 50px;
    }
    .wd-60 {
        width: 60px;
    }
    .wd-90 {
        width: 90px;
    }
    .wd-110 {
        width: 110px;
    }
    .ant-cascader-picker {
        width: 140px;
    }
    .tips .ant-col-16 {
        margin-left: $promotionFormLabelWidth;
    }
    .condition {
        margin-right: 0;
        .ant-input-number-lg {
            width: 120px;
        }
    }
    .description {
        line-height: 42px;
    }
    .promotion-add-license {
        .ant-form-item-label,
        .ant-form-item-label label {
            width: $promotionFormLabelWidth;
        }
    }
}

.cancelBtn {
    margin-left: 20px;
}