$promotionAddLabelWidth: 100px;
.ant-table-pagination {
    margin-right: 15px;
}

.change-form {
    padding-left: 30px;
    .ant-form-item {
        margin-bottom: 15px
    }
    .ant-form-explain {
        padding-left: 73px;
    }
    &-label {
        min-width: 61px;
        text-align: right;
    }
    &-tip {
        margin-left: 10px;
    }
}

.promotion-create {
    padding-top: 60px;
    margin: 0 62px;
    form .default {
        width: 78px;
    }
    .category .ant-cascader-picker {
        width: 260px;
    }
    .store {
        margin-left: $promotionAddLabelWidth;
    }
    .ant-col-16 {
        word-break: break-all;
        .ant-form-item-label label {
            width: $promotionAddLabelWidth;
            display: inline-block;
        }
        &.multi-line {
            .ant-form-item-label {
                line-height: 98px;
            }
        }
    }
    .tips .ant-col-16 {
        margin-left: $promotionAddLabelWidth;
    }
    .condition {
        margin-right: 0;
        .ant-input-number-lg {
            width: 120px;
        }
    }
    .description {
        line-height: 42px;
    }
    .promotion-add-license {
        .ant-form-item-label,
        .ant-form-item-label label {
            width: 100px;
        }
    }
}