.detail-value {
    margin-left: 100px;
}

.detail-table {
    width: 400px;
    border: 1px solid #666;
    border-collapse: collapse;
    text-align: center;
}

.detail-table-tr {
    border: 1px solid #666;
    line-height: 32px;
}

.detail-table-tr th {
    border: 1px solid #666;
    background: #e8f2f6;
}

.detail-table-tr td {
    border: 1px solid #666;
}

.detail-prompt {
    color: #ff0000;
    margin-left: 20px;
}

.detail-img-list td {
    width: 80px;
    height: 80px;
}

.detail-img-list td img {
    width: 100%;
}