.search-mind-label {
    min-width: 80px;
    display: inline-block;
    text-align: right;
    width: 80px;
    margin-right: 0;
    &::after {
        content: ":";
        margin: 0 8px 0 2px;
        position: relative;
        top: -0.5px;
    }
}
