.sell-modal {
    min-width: 950px;
    .changeBefore{
        width: 49%;
        display: inline-block;
    }
    .last-freightConditions{
        min-height: 235px;
    }
    .changeAfter{
        width: 49%;
        margin-left: 1%;
        display: inline-block;
    }
    .ant-modal-content {
        width: 1020px;
    }
    .ant-modal-body {
        min-height: 700px;
        overflow-y: auto;
    }
    form .ant-input-number {
        margin-right: 0;
    }
    &-item {
        border: 1px solid #eee;
        border-radius: 4px;
        margin-bottom: 10px;
        padding: 10px;
    }
    &-item-title {
        font-size: 14px;
    }
    &-item-content {
        padding: 0 10px;
    }
    &-day-input {
        margin: 0 4px;
    }
    &-label {
        vertical-align: middle;
    }
    &-data-pic {
        vertical-align: middle;
        display: inline-block;
        height: 30px;
    }
    &.ant-modal {
        .ant-form-inline .ant-form-explain {
            left: 30px;
        }
    }
    .sell-modal-body-width{
        .sell-modal-item{
            min-height: 260px;
        }
    }
    .ant-form-explain {
        width: 160px;
    }
    .sell-modal-item {
        width: 461px;
        overflow-y: auto;
    }
    .sell-modal-item:last-child {
        width: 100%;
        overflow-y: auto;
    }
    .sell-modal-body-wrap {
        display: inline-block;
        vertical-align: top;
    }
    .sell-modal-body-width {
        width: 50%;
    }
    .sell-modal-body-width:last-child{
        float: right;
    }
    .sell-modal-body-wrap::after {
        clear: both;
        overflow: hidden;
    }
    .item-max-height {
        overflow-y: auto;
    }
    .edit-state-list {
        display: flex;
        div{
            width: 30%;
        }
        div:first-child{
            margin-left: 10%;
        }
    }
    .sell-modal-border {
        border: 1px solid red;
        padding: 5px 10px;
        .editable-cell .ant-input-number {
            width: 60px;
        }
    }
    .read-only-footer{
        height: 32px;
        line-height: 32px;
        span{
            padding: 0 5px;
        }
    }
    .new-price-state {
        &-1 {
            width: 5px;
            height: 5px;
            background: #5397E8;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
        }
        &-2 {
            width: 5px;
            height: 5px;
            background: #71E135;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
        }
        &-3 {
            width: 5px;
            height: 5px;
            background: red;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
        }
        .editable-row-operations-true{
            display: none;
        }
    }
    .createCls {
        min-width: 950px;
        .ant-modal-body {
            min-height: 700px;
            overflow-y: auto;
            margin-left: 60px;
        }
        form .ant-input-number {
            margin-right: 0;
        }
        &-item {
            border: 1px solid #eee;
            border-radius: 4px;
            margin-bottom: 10px;
            padding: 10px;
        }
        &-item-title {
            font-size: 14px;
        }
        &-item-content {
            padding: 0 10px;
        }
        &-day-input {
            margin: 0 4px;
        }
        &-label {
            vertical-align: middle;
        }
        &-data-pic {
            vertical-align: middle;
            display: inline-block;
            height: 30px;
        }
        &.ant-modal {
            .ant-form-inline .ant-form-explain {
                left: 30px;
            }
        }
        .ant-form-explain {
            width: 160px;
        }
        .sell-modal-item {
            width: 850px;
        }
        .sell-modal-body-wrap {
            display: inline-block;
            vertical-align: top;
        }
        .sell-modal-body-wrap::after {
            clear: both;
            overflow: hidden;
        }
        .item-max-height {
            overflow-y: auto;
        }
    }
    .ant-message-warning {
        color: red;
    }
}
.sell-prigce-edit-footer{
    .ant-row{
        display: inline-flex;
        margin-bottom: 0;
    }
}
