.nameShow{
    width: 270px;
}
.changeMessage-line-mc{
    padding-right: 10px;
}
.changeMessage-line-ms{
    padding-right: 8px;
    padding-left: 7px;
}
.jtgl-change-form{
    .manage-form-item1{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}