.ant-form {
    .sc-form {
        &-item {
            min-width: 340px;
            margin-right: 16px;
            display: inline-block;
            &-label {
                min-width: 60px;
                margin-right: 8px;
                display: inline-block;
            }
            &-input {
                width: 270px;
                display: inline-block;
            }
            &-select {
                width: 270px;
                display: inline-block;
            }
            &-input-license {
                width: 234px;
            }
            &-date-picker {
                width: 246px;
            }
        }
        &-button-group {
            display: inline-block;
        }
    }
    .tr {
        text-align: right;
    }
}
.gyl-form-item-date-picker {
    margin-left: 13px;
    width: 234px!important;
}
.supplier-branch-company {
    .ant-form-item-control.has-success {
        display: flex;
    }
    .ywc-smind.ywc-smind-drop-hide.ywc-smind-has-input-view {
        width: 270px;
        margin-top: -4px;
    }
}

