$commodityManagementFieldWidth: 220px;
.commodity-management {
    .ant-form {
        padding: 40px 15px 20px;
    }
    .ant-form-item-label {
        width: 90px;
    }
    .ywc-smind {
        width: $commodityManagementFieldWidth;
        top: 4px;
    }
    .branch-company {
        top: -4px;
    }
    .ant-input,
    .ant-select {
        width: $commodityManagementFieldWidth;
    }
    .tr {
        text-align: right;
    }
    .area-list {
        .table-commodity {
            &-number {
                text-align: left;
            }
            &-description {
                text-align: left;
                margin-top: 10px;
                &-img {
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    margin-right: 10px;
                    vertical-align: middle;
                }
                &-name {
                    width: 300px;
                    height: 100%;
                    display: inline-block;
                    margin-top: 3px;
                    vertical-align: top;
                }
            }
        }
    }
    .ywc-smind-drop-layout {
        z-index: 3;
    }
    .ant-btn {
        margin: 6px 10px;
    }
}

.commodityType-wrap {
    & .commodityType-title {
        display: inline-block;
        min-width: 60px;
        margin-right: 8px;
        &+div {
            display: inline-block;
        }
    }
}