$directStoreSalesColWidth: 260px;
.ant-table-pagination {
    margin-right: 15px;
}

.change-form {
    padding-left: 30px;
    .ant-form-item {
        margin-bottom: 15px
    }
    .ant-form-explain {
        padding-left: 73px;
    }
    &-label {
        min-width: 61px;
        text-align: right;
    }
    &-tip {
        margin-left: 10px;
    }
}

.direct-sales-orders {
    .direct-sales-orders-form {
        h1 {
            font-size: 14px;
        }
        .ant-form-item-label {
            width: 80px;
            .sc-form-item-label {
                text-align: right;
            }
        }
        .search-mind-label {
            min-width: 80px;
            display: inline-block;
            text-align: right;
            width: 80px;
            margin-right: 0;
            &::after {
                content: ":";
                margin: 0 8px 0 2px;
                position: relative;
                top: -0.5px;
            }
        }
        .ywc-smind {
            width: $directStoreSalesColWidth;
        }
        .ywc-smind-search-bar {
            margin: 8px 0;
        }
        &.goods-form {
            .ywc-smind {
                width: 341px;
                ;
            }
            a.download {
                line-height: 28px;
                margin-left: 12px;
                margin-right: 12px;
            }
            .fr {
                float: right;
            }
            .info {
                display: inline;
                margin-left: 24px;
                span {
                    color: red;
                }
            }
        }
    }
    .editable-cell {
        position: relative;
    }
    .editable-cell-input-wrapper,
    .editable-cell-text-wrapper {
        padding-right: 24px;
    }
    .editable-cell-text-wrapper {
        padding: 5px 24px 5px 5px;
    }
    .editable-cell-icon,
    .editable-cell-icon-check {
        position: absolute;
        right: 0;
        width: 20px;
        cursor: pointer;
    }
    .editable-cell-icon {
        line-height: 18px;
        display: none;
    }
    .editable-cell-icon-check {
        line-height: 28px;
    }
    .editable-cell:hover .editable-cell-icon {
        display: inline-block;
    }
    .editable-cell-icon:hover,
    .editable-cell-icon-check:hover {
        color: #108ee9;
    }
    .editable-add-btn {
        margin-bottom: 8px;
    }
}