.select-line-content{
    margin-left: 21px;
}
.select-line-select{
    min-width: 60px;
    margin-right: 8px;
}
.select-line-flex{
    margin-top: 10px;
    margin-bottom: 5px;
}
.select-line-sales-content {
    .ywc-smind {
        position: relative;
        top: 4px;
    }
}
.select-line-sales-zgs{
    margin: 7px 0 0 20px;
}
.select-line-sales-qy{
    margin: 0 20px;
}
.select-line-sales-select {
    margin-right: 10px;
}
.manage-form .ywc-smind {
    top: 4px;
}