
.po-rcv-mng-list{
    padding: 20px 0;
    margin: 10px 0;
    form {
        padding: 20px 0;
        margin: 10px 0;
    }
    .ant-form {
        border: 1px solid #c4c5c9;
    }
    .po-rcv-search-box {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        flex-direction: row;
        .ant-form-item-label label {
            min-width: 100px;
            display: inline-block;
        }
        .search-mind-label {
            min-width: 80px;
            display: inline-block;
            &::after {
                content: ":";
                margin: 0 8px 0 2px;
                position: relative;
                top: -0.5px;
            }
        }
        .ywc-smind {
            top: 5px;
        }
        @media screen and (min-width: 0px) and (max-width: 1400px) {
            .ant-form-item {
                flex: 33%
            }
            .ant-form-item-control-wrapper,
            .ant-select,
            .ywc-smind {
                width: 200px;
            }
        }
        @media screen and (min-width: 1401px) and (max-width: 1600px) {
            .ant-form-item-control-wrapper,
            .ant-select,
            .ywc-smind {
                width: 230px;
            }
        }
        @media screen and (min-width: 1601px) and (max-width: 1920px) {
            .ant-form-item-control-wrapper,
            .ant-select,
            .ywc-smind {
                width: 200px;
            }
        }
        @media screen and (min-width: 1921px) {
            .ant-form-item-control-wrapper,
            .ant-select,
            .ywc-smind {
                width: 260px;
            }
        }
    }
}