.order-management {
    .manage-form {
        .ant-input {
            width: 240px;
            padding: 0 10px;
        }
        .ant-select {
            width: 240px;
        }
        .ywc-smind {
            vertical-align: middle;
        }
        .ywc-smind {
            width: 240px;
        }
    }
}
