$orderListFieldWidth: 220px;
.ant-table-pagination {
    margin-right: 15px;
}

.order-list {
    &-form {
        border: 1px solid #c4c5c9;
        padding: 40px 0 20px;
        margin: 10px 0;
        .ant-form-item-label {
            width: 110px;
            .sc-form-item-label {
                text-align: right;
            }
        }
        .ant-form-item {
            float: left;
            display: block;
            height: 42px;
            .ant-form-item-control-wrapper, .ant-select {
                width: $orderListFieldWidth;
            }
        }
        .ywc-smind {
            width: $orderListFieldWidth;
            top: 4px;
        }
    }
    .button-group {
        padding: 20px;
    }
    .ant-btn {
        margin-right: 20px;
    }
}
