.card-line {
    display: inline-block;
    padding: 0;
    margin: 0 20px 10px 20px;
    color: #e1e6ec;
    cursor: pointer;
    .card-line-card-list {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
        /**
        *都未选中
        */
        .card-line-card-0-0 {
            border: 1px solid;
            border-radius: 3px;
            p{
                margin-bottom: 10px;
            }
            .card-line-close {
                position: absolute;
                right: 10px;
                top: 10px;
                border: 1px solid #ddd;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                text-align: center;
                font-size: 16px;
                line-height: 15px;
                cursor: pointer;
                color: #ddd;
            }
            .card-line-close::after {
                clear: both;
                overflow: hidden;
            }
            .card-line-close:hover {
                background: #ccc;
                color: #fff;
            }
        }
        /**
        *选中主供应商
        */
        .card-line-card-1-0 {
            border: 1px solid;
            border-radius: 3px;
            position: relative;
            .card-line-supplierType-img{
                border-top: 40px solid #ddd;
                border-right: 40px solid transparent;
                position: absolute;
                top: 0;
                left: 0;
                span{
                    position: absolute;
                    top: -35px;
                    left: 5px;
                    color: #fff;
                }
            }
            p{
                margin-bottom: 10px;
            }
            .card-line-close {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    border: 1px solid #ddd;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    text-align: center;
                    font-size: 16px;
                    line-height: 15px;
                    cursor: pointer;
                    color: #000;
            }
            .card-line-close::after {
                clear: both;
                overflow: hidden;
            }
            .card-line-close:hover {
                background: #ccc;
                color: #fff;
            }
            .card-line-checkboxGroup.tjf-css-fontColor{
                color: #000;
            }
        }
        /**
        *选启用
        */
        .card-line-card-0-1 {
            border: 1px solid #e1e6ec;
            border-radius: 3px;
            color: #000;
            p{
                margin-bottom: 10px;
            }
            .card-line-close {
                position: absolute;
                right: 10px;
                top: 10px;
                border: 1px solid #ddd;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                text-align: center;
                font-size: 16px;
                line-height: 15px;
                cursor: pointer;
                color: #000;
            }
            .card-line-close::after {
                clear: both;
                overflow: hidden;
            }
            .card-line-close:hover {
                background: #ccc;
                color: #fff;
            }
        }
        /**
        *选中主供应商和启用
        */
        .card-line-card-1-1 {
            border: 1px solid #e1e6ec;
            border-radius: 3px;
            color: #000;
            .card-line-supplierType-img{
                border-top: 40px solid rgb(234, 115, 115);
                border-right: 40px solid transparent;
                position: absolute;
                top: 0;
                left: 0;
                span{
                    position: absolute;
                    top: -35px;
                    left: 5px;
                    color: #fff;
                }
            }
            p{
                margin-bottom: 10px;
            }
            .card-line-close {
                position: absolute;
                right: 10px;
                top: 10px;
                border: 1px solid #ddd;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                text-align: center;
                font-size: 16px;
                line-height: 15px;
                cursor: pointer;
                color: #000;
            }
            .card-line-close::after {
                clear: both;
                overflow: hidden;
            }
            .card-line-close:hover {
                background: #ccc;
                color: #fff;
            }
        }
    }
}
.card-line-checkboxGroup {
    text-align: right;
}