.card-line {
    display: inline-block;
    padding: 0;
    margin: 0 20px 10px 20px;
    .card-line-card-list {
        display: inline-block;
        margin-right: 10px;
        /**
        *都未选中
        */
        .card-line-card-0-0 {
            border: 1px solid rgb(225, 105, 245);
            border-radius: 3px;
            p{
                margin-bottom: 10px;
            }
            .card-line-close {
                float: right;
                border: 1px solid #ddd;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                text-align: center;
                font-size: 16px;
                line-height: 15px;
                cursor: pointer;
                color: #000;
            }
            .card-line-close::after {
                clear: both;
                overflow: hidden;
            }
            .card-line-close:hover {
                background: #ccc;
                color: #fff;
            }
            .tjf-css-fontColor {
                color: rgb(225, 105, 245);
            }
        }
        /**
        *选中主供应商
        */
        .card-line-card-1-0 {
            border: 1px solid #cc842b;
            border-radius: 3px;
            p{
                margin-bottom: 10px;
            }
            .card-line-close {
                float: right;
                border: 1px solid #ddd;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                text-align: center;
                font-size: 16px;
                line-height: 15px;
                cursor: pointer;
                color: #000;
            }
            .card-line-close::after {
                clear: both;
                overflow: hidden;
            }
            .ccard-line-close:hover {
                background: #ccc;
                color: #fff;
            }
            .tjf-css-fontColor{
                color: #cc842b;
            }
        }
        /**
        *选启用
        */
        .card-line-card-0-1 {
            border: 1px solid #d4562f;
            border-radius: 3px;
            p{
                margin-bottom: 10px;
            }
            .card-line-close {
                float: right;
                border: 1px solid #ddd;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                text-align: center;
                font-size: 16px;
                line-height: 15px;
                cursor: pointer;
                color: #000;
            }
            .card-line-close::after {
                clear: both;
                overflow: hidden;
            }
            .card-line-close:hover {
                background: #ccc;
                color: #fff;
            }
            .tjf-css-fontColor {
                color: #d4562f;
            }
        }
        /**
        *选中主供应商和启用
        */
        .card-line-card-1-1 {
            border: 1px solid rgb(39, 158, 243);
            border-radius: 3px;
            p{
                margin-bottom: 10px;
            }
            .card-line-close {
                float: right;
                border: 1px solid #ddd;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                text-align: center;
                font-size: 16px;
                line-height: 15px;
                cursor: pointer;
                color: #000;
            }
            .card-line-close::after {
                clear: both;
                overflow: hidden;
            }
            .card-line-close:hover {
                background: #ccc;
                color: #fff;
            }
            .tjf-css-fontColor {
                color: rgb(39, 158, 243);
            }
        }
    }
}
.card-line-checkboxGroup {
    text-align: right;
}