.card-line {
    display: inline-block;
    padding: 0;
    margin: 0 20px 10px 20px;
    color: #e1e6ec;
    cursor: pointer;
    p{
        margin-bottom: 10px;
    }
    &-card-list {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    /**
    *都未选中
    */
    &-card-0-0 {
        border: 1px solid;
        border-radius: 3px;
    }
    /**
    *选中主供应商
    */
    &-card-1-0 {
        border: 1px solid;
        border-radius: 3px;
        position: relative;
        .card-line-supplierType-img{
            border-top: 40px solid #ddd;
            border-right: 40px solid transparent;
            position: absolute;
            top: 0;
            left: 0;
            span{
                position: absolute;
                top: -35px;
                left: 5px;
                color: #fff;
            }
        }
    }
    /**
    *选启用
    */
    &-card-0-1 {
        border: 1px solid #e1e6ec;
        border-radius: 3px;
        color: #000;
    }
    /**
    *选中主供应商和启用
    */
    &-card-1-1 {
        border: 1px solid #e1e6ec;
        border-radius: 3px;
        color: #000;
        .card-line-supplierType-img {
            border-top: 40px solid rgb(234, 115, 115);
            border-right: 40px solid transparent;
            position: absolute;
            top: 0;
            left: 0;
            span{
                position: absolute;
                top: -35px;
                left: 5px;
                color: #fff;
            }
        }
    }
    &-close {
        position: absolute;
        right: 10px;
        top: 10px;
        border: 1px solid #ddd;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        text-align: center;
        font-size: 16px;
        line-height: 15px;
        cursor: pointer;
        color: #000;
    }
    &-close::after {
        clear: both;
        overflow: hidden;
    }
    &-close:hover {
        background: #ccc;
        color: #fff;
    }
    &-step-price {

    }
    &-step-item {
        margin: 10px 0;
    }
    &-step-item-left {
        display: inline-block;
        width: 200px;
    }
    &-no-data {
        color: #ccc;
        text-align: center;
    }
}
.card-line-sale {
    display: block;
}
.card-line-checkboxGroup {
    text-align: right;
    color: #000;
}