.editorPages{
    .editorPages-form{
        .tjf-css-ts{
            margin-bottom: 0;
        }
        .tjf-css-footer{
            width: 100%;
            .tjf-css-submit{
                margin: 0 auto;
                display: block;
            }
        }
    }
}