.editorPages {
    .editorPages-form {
        .editorPages-css-ts {
            margin-bottom: 0;
        }
        .editorPages-css-footer {
            width: 100%;
            .editorPages-css-submit {
                margin: 0 auto;
                display: block;
            }
        }
    }
}
.EditorPages {
    &-lines {
        display: flex;
        margin-bottom: 10px;
    }
    &-btn {
        margin-left: 10px;
    }
}
.editorPages-form {
    .ant-upload-list {
        display: none;
    }
    #cke_1_contents {
        min-height: 500px;
    }
}

