$promotionColWidth: 250px;
$couponFieldWidth: 200px;
.ant-table-pagination {
    margin-right: 15px;
}

.change-form {
    padding-left: 30px;
    .ant-form-item {
        margin-bottom: 15px
    }
    .ant-form-explain {
        padding-left: 73px;
    }
    &-label {
        min-width: 61px;
        text-align: right;
    }
    &-tip {
        margin-left: 10px;
    }
}

.coupon {
    border: 1px solid #c4c5c9;
    padding: 40px 0 20px;
    margin: 10px 0;
    .ant-form-item-label {
        width: 80px;
        .sc-form-item-label {
            text-align: right;
        }
    }
    .ant-btn {
        margin-right: 20px;
    }
    .ant-form-item-control-wrapper, .ant-select {
        width: $couponFieldWidth;
    }
    .ywc-smind {
        // width: $promotionColWidth;
        top: 4px;
    }
    .ant-form-item-label {
        width: 80px;
        .sc-form-item-label {
            text-align: right;
        }
    }
    .search-mind-label {
        min-width: 80px;
        display: inline-block;
        text-align: right;
        width: 80px;
        margin-right: 0;
        &::after {
            content: ":";
            margin: 0 8px 0 2px;
            position: relative;
            top: -0.5px;
        }
    }
    .row {
        display: flex;
        line-height: 46px;
        justify-content: space-between;
        .item-box {
            display: flex;
            flex-direction: row;
        }
        .label {
            margin-right: 8px;
            display: inline-block;
        }
        .ywc-smind-search-bar {
            margin: 8px 0;
        }
    }
}