.sites-manage-search-container {
    .ant-btn {
        margin-right: 20px;
    }
}

.site-relation-create {
    &-form {
        border: 1px solid #c4c5c9;
        padding: 40px 0 20px;
        margin: 10px 0;
        .ant-form-item-label {
            width: 110px;
            .sc-form-item-label {
                text-align: right;
            }
        }
        .ant-form-item {
            float: left;
            display: block;
            height: 42px;
            .ywc-smind {
                top: 4px;
            }
            @media screen and (min-width: 0px) and (max-width: 1400px) {
                .ant-form-item-control-wrapper, .ant-select, .ywc-smind {
                    width: 220px;
                }
            }
            @media screen and (min-width: 1401px) and (max-width: 1600px) {
                .ant-form-item-control-wrapper, .ant-select, .ywc-smind {
                    width: 240px;
                }
            }
            @media screen and (min-width: 1601px) and (max-width: 1920px) {
                .ant-form-item-control-wrapper, .ant-select, .ywc-smind {
                    width: 200px;
                }
            }
            @media screen and (min-width: 1921px) {
                .ant-form-item-control-wrapper, .ant-select, .ywc-smind {
                    width: 260px;
                }
            }
        }
    }
    .button-group {
        padding: 20px;
    }
    .ant-btn {
        margin-right: 20px;
    }
    &-tab {
        border: 1px solid #c4c5c9;
    }
    .create-modal {
        width: 80%;
        margin: 0 auto;
        padding-left: 10%;
    }
}

.ant-table-row.ant-table-row-level-0 .table-commodity {
    &-number {
        text-align: left;
    }
    &-description {
        text-align: left;
        margin-top: 10px;
        &-img {
            display: inline-block;
            width: 50px;
            height: 50px;
            margin-right: 10px;
            vertical-align: middle;
        }
        &-name {
            width: 300px;
            height: 100%;
            display: inline-block;
            margin-top: 3px;
            vertical-align: top;
        }
    }
}

.ant-select-lg.ant-select.ant-select-enabled {
    width: 210px;
}

div.ant-table-placeholder {
    z-index: 0;
}
