.category-icon-management {
    .category-card-ul {
        display: block;
        max-height: 485px;
        overflow-y: auto;

        .category-li {
            cursor: pointer;
            display: block;
            color:rgba(0, 0, 0, 0.65);
            padding: 8px;

            &:hover {
                background-color: #ECF6FD;
            }

            .anticon-right {
                float: right !important;
            }
        }

        .active-li {
            background-color: #ECF6FD;
        }

        .primary-li {
            background-color:'';
        }
    }

    .category-lv4-card {
        .ant-card-body{
            padding: 0;
        }
    }
}
.category-icon-modal-file-cut {
    width: 100px;
    margin: 30px auto;

    .ant-btn {
        margin: 15px auto;
    }
}