.select-line-content{
    margin-left: 21px;
    .select-line-select{
        min-width: 60px;
        margin-right: 8px;
    }
    .ywc-smind {
        position: relative;
        top: 4px;
    }
    .select-line-flex{
        margin-top: 10px;
        margin-bottom: 5px;
    }
}