.order-management {
    .manage-form {
        .ant-input {
            width: 240px;
            padding: 0 10px;
        }
        .ant-select {
            width: 240px;
        }
        .ywc-smind {
            vertical-align: middle;
        }
        .ywc-smind {
            width: 240px;
        }
    }
}

// 详情页
.order-details {
    @extend .order-management;
    &-item {
        margin-bottom: 15px;
        border: 1px solid #C3C4C7;
        color: #515151;
        border-radius: 2px;
        overflow: hidden;
        .ant-row {
            margin: 10px 0;
            .details-info-lable {
                min-width: 70px;
                display: inline-block;
                margin-right: 6px;
            }
            textarea.ant-input {
                width: 300px;
                vertical-align: text-top;
            }
        }
    }
    &-btns {
        .ant-btn {
            margin-right: 10px;
        }
    }
    .ant-table-footer {
        background-color: #fff;
        text-align: right;
        .red-number {
            color: #f00;
        }
        .table-footer-item {
            margin-right: 30px;
            display: inline-block;
        }
    }
    .red-star {
        color: red;
    }
    .arrival-date-picker .ant-calendar-picker-input {
        width: 222px !important;
    }
    .gys-layout, .manage-form, .application-form, .area-form {
        margin: 0;
        border: 0;
    }
    .ant-input-number {
        width: 60px;
    }
}

