$color-e: #f4f4f4;
$margin: 6px;
.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    color: #fff;
    overflow: hidden;
}

.home-style {
    max-width: 540px;
    border: 1px solid #999;
    margin: 0 auto;
    position: relative;
    img {
        vertical-align: top;
    }
    background-color: $color-e;
    &-carousel,
    &-quick {
        background-color: #fff;
    }
    &-carousel {}
    &-quick {
        margin-bottom: $margin;
        padding-bottom: $margin;
        width: 100%;
        overflow: hidden;
        &-wrap {
            width: 100%;
        }
        &-item {
            margin-top: 2 * $margin;
            float: left;
            margin: 8px 15px;
            &-disabled {
                opacity: .6;
            }
        }
        &-img-wrap {
            width: 76px;
            height: 76px;
            border-radius: 50%;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        &-text {
            text-align: center;
            margin-top: 4px;
            color: rgb(102, 102, 102);
        }
    }
    &-hot {
        &-top {
            overflow: hidden;
            &-left {
                float: left;
                margin-right: $margin;
            }
            &-right {
                float: left;
            }
        }
        &-item1 {
            margin-bottom: $margin;
        }
        &-bottom {
            overflow: hidden;
            margin-top: $margin;
            &-item {
                float: left;
            }
            &-item2 {
                margin: 0 $margin;
            }
        }
    }
    &-banner {
        margin: $margin 0;
    }
    &-floor {
        margin-top: 2 * $margin;
        border-bottom: 1px solid #e1e1e1;
        overflow: hidden;
        &-item {
            float: left;
            border: 1px solid #e1e1e1;
            border-right: none;
            border-bottom: none;
        }
        &-item1 {
            border-left: none;
        }
        &-title {
            height: 50px;
            background-color: #fff;
            position: relative;
            line-height: 50px;
        }
        &-text,
        &-more {
            cursor: pointer;
            &:hover {
                color: #108ee9;
            }
        }
        &-text {
            color: #f05948;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }
        &-more {
            position: absolute;
            right: 10px;
            top: 0px;
            font-size: 16px;
            color: #666666;
        }
    }
    &-url {
        width: initial;
    }
    &-common {
        position: relative;
        &-enable:hover {
            .home-style-common-btns2 {
                display: block;
            }
        }
        &-disable {
            opacity: .6;
        }
        &-disable:hover {
            .home-style-common-btns1 {
                display: block;
            }
        }
        &-quick {
            opacity: 1;
            .home-style-common-btns {
                right: -140px;
                width: 162px;
            }
            &:hover {
                .home-style-common-btns2 {
                    display: block;
                }
            }
        }
        &-btns {
            position: absolute;
            right: -100px;
            top: 20px;
            height: 100%;
            padding: 0 30px;
            li {
                display: none;
                margin-bottom: 10px;
            }
        }
        &-isEnabled {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #000;
            opacity: 0.5;
        }
    }
    &-modal-input-item {
        margin-top: 6px;
    }
    .home-style-wrap {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
    }
}

.manage-form-input {
    width: initial;
}

.cut-img-warp {
    .cut-img-warp-show {
        border: 1px solid transparent;
    }
    &-btns {
        margin-top: 6px;
    }
    &.edit {
        .cut-img-warp-edit {
            display: block;
        }
        .cut-img-warp-show {
            display: none;
            font-size: 0;
        }
    }
    &.show {
        .cut-img-warp-edit {
            display: none;
        }
        .cut-img-warp-show {
            display: block;
        }
    }
}

.banner-form-label,
.quick-form-label {
    min-width: 61px;
    text-align: right;
}

.home-style-quick {
    position: relative;
    .quick-nav-wrap {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
}