.nameShow{
    width: 270px;
}
.changeMessage-line-spfl{
    padding-right: 10px;
    line-height: 31px;
}
.changeMessage-line-flex{
    display: flex;
}
.changeMessage-line-label{
    padding-right: 10px;
}
.jtgl-change-form{
    .manage-form-item1{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}