.carousel-management {
    &-select {
        margin-right: 15px;
    }
    .area-list {
        margin-top: 10px;
    }
}
.modal-carousel-interval {
    display: inline-block;
    margin: 0 10px 0 0px;
}
.add-carousel-modal {
    .form-description {
        margin: 5px 0 10px 104px; 
        color: rgba(0,0,0,.5)
    }
    .ant-form-explain {
        margin-left: 80px;
    }
    .modal-form-item-num {
        margin-bottom: 0;
    }
}