.carousel-management{
    .ant-btn{
        margin: 0px 10px 10px 0;
    }
}
.modal-carousel-interval{
    display: inline-block;
    margin: 0 10px 0 60px;
}
.add-carousel-modal{
    .form-description{
        margin-left:77px; 
        color: rgba(0,0,0,.5)
    }
}