/**
 * @file index.scss
 * @author denglingbo
 *
 */

.input {
    border: 1px solid #d9d9d9;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    font-size: 12px;
    outline: none;

    &-small {
        @extend .input;
        padding: 2px 4px;
        height: 20px;
        line-height: 20px;
        width: 30px;
    }

    &-middle {
        @extend .input;
        padding: 13px 6px;
        height: 24px;
        line-height: 24px;
        width: 30px;
    }
}

.msg-cover {
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;

    &-hide {
        display: none;
    }
}
