// 商品信息列表
.add-sub-orders {
    .editable-cell {
        float: left;
    }
    .sub-total {
        line-height: 26px;
    }
    .ant-btn-primary {
        float: right;
    }
}

.orderDetail-message{
    .abnormalResonse{
        height: 36px;
        display: inline-block;
        vertical-align: bottom;
        margin-left: 10px;
        color: red;
    }
    .abnormalResonse-color{
        color: red;
    }
}