// 商品信息列表
.add-sub-orders {
    .editable-cell {
        float: left;
    }
    .sub-total {
        line-height: 26px;
    }
    .ant-btn-primary {
        float: right;
    }
}

.orderDetail-message{
    .abnormalResonse{
        color: red;
    }
    .abnormalResonse-color{
        color: red;
    }
}
.giftsTip {
    border-top: 30px solid #fd9f2e;
    border-right: 30px solid transparent;
    position: relative;
    top: -50px;
    left: 52px;
    width: 30px;
    height: 30px;
    span{
        position: absolute;
        top: -30px;
        left: 2px;
        color: #fff;
        font-size: 12px;
    }
}