.ant-table-pagination {
    margin-right: 15px;
}
.change-form {
    padding-left: 30px;
    .ant-form-item {
        margin-bottom: 15px
    }

    .ant-form-explain {
        padding-left: 73px;
    }

    &-label {
        min-width: 66px;
    }

    &-tip {
        margin-left: 10px;
    }
}

.default-input {
  width: 200px;
  margin: 0 35px 8px 40px;
}
.DD{
    margin-top: 40px;
}