.search-box {
    &-box {
        background: #ffffff;
        border: 1px solid #c4c5c9;
        margin: 10px 0;
        padding: 5px 18px;
        display: flex;
        flex-direction: column;
        .small {
            .ywc-smind {
                width: 200px;
            }
        }
        .middle {
            .ywc-smind {
                width: 250px;
            }
        }
        .row {
            display: flex;
            line-height: 46px;
            justify-content: space-between;
            .item-box {
                display: flex;
                flex-direction: row;
            }
            .label {
                margin-right: 8px;
                display: inline-block;
            }
        } // .ant-form-item-label label:after {
        //   content: "";
        // }
        .ant-form-item-label label {
            min-width: 80px;
            display: inline-block;
        }
        .date-range-picker {
            padding: 2px 0;
            width: 200px;
        }
        .search-mind-label {
            min-width: 80px;
            display: inline-block;
            &::after {
                content: ":";
                margin: 0 8px 0 2px;
                position: relative;
                top: -0.5px;
            }
        }
    }
    .ant-advanced-search-form {
        .ant-form-item {
            margin-bottom: 0;
            .ant-input {
                width: 200px;
            }
        }
    }
}

.franchisee-item {
    .ywc-smind {
        width: 200px;
        vertical-align: middle;
    }
    .sc-form-item-label {
            margin-right: 0!important;
        }
    padding-left: 40px!important;
}